/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added for consistent box sizing */
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #07F773, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 86vh;
}

.card {
    width: 90%; 
    max-width: 500px; 
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 4px 20px 0px gray;
}
.inp{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.inp i{
    padding-top: 20px;
}
.card span, .card a{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
.card a{
    color:#07F773
}
.card input,
.card textarea {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card textarea {
    height: 100px;
    resize: none;
}

.card button[type="submit"] {
    width: 120px;
    background-color: #07F773;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.card button[type="submit"]:hover {
    background-color: #68A081;
}

.contact-container{
    margin-top: 100px;
}