/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;
    //overflow-y: visible !important;*/
}
/* html {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
} */
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #07F773, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.choices div{
    padding: 10px;
    margin-left: 50px;
    color:#07F773;
}

.choices div a{
    text-decoration: none;
    color: #07F773;
    position: relative;
}
.current{
    color:black !important;
}
.choices div a:hover{
    border-bottom: 2px solid black;
    transition: 0.1s;
}

/* start here of section card */
/* ******************************** */
.cards-section {
    padding: 60px 10px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, auto); /* auto makes the columns fit the content */
  grid-gap: 20px;
  justify-content: center; /* To center the cards horizontally */
}

.card {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 250px; /* Ensures the card's width adjusts to its content */
  border-radius: 50%;
  overflow: hidden;
  background-color: #046785;
}

.card-logo {
  width: 100%;
  height: 800px;
}

.card-title {
  width: 100%;
  font-size: 24px;
  margin-top: 10px;
  color: #07F773;
}

.card-description {
  font-size: 14px;
  margin-top: 10px;
  width: 60%;
  margin: auto;
  color: white;
}
.card img {
  width: 100%;
  height: 100px;
}
/* end here of section card */