:root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --primary-color: #07f773;
  --secondary-color: #b8eacf;
  --text-color: #046785;
  --font: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #07f773, #ffffff);
}

/* Work section */

.work-section {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  max-width: 40%;
}

.work-info h1 {
  margin-bottom: 20px;
}

.work-img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Main section */

.main-section {
  background-color: #fff;
  padding-top: 30px;
  height: 100%;
}

/* Examples Section */

.examples-container {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
  box-shadow: 2px rgba(255, 255, 255, 0.1);
  background-color: rgb(199, 199, 199);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.example-img-container img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-container {
  margin: 0 30px;
}

.examples-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  margin: 0 20px;
}

/* Creating Content Section */

.creating-content {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  max-width: 80%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgb(199, 199, 199), #ffffff);
  border-radius: 30px;
}

.section-container {
  width: 100%;
  margin-bottom: 5px;
  min-height: 200px;
  padding: 40px;
}

span.divider {
  width: 90%;
  height: 3px;
  background-color: #fff;
}

.body-container {
  display: flex;
  justify-content: flex-end;
}

#section-2 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.section-title {
  min-width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 68px;
  font-weight: 500;
}

p.body {
  font-size: 20px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

/* Platform */

.platform-section {
  display: flex;
  align-items: center;
}

#platform-description {
  display: flex;
  flex-direction: column;
}

.platform {
  width: 100%;
  height: min-content;
  padding: 40px;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platform img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Examples description */

.examples-description {
  width: 80%;
  padding: 70px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.examples-description .description {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: start;
}

button.start-creating {
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 20px;
}

.examples-description .section-title {
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
  min-width: 60%;
}

.examples-description .description-body {
  width: 100%;
}

/* Workflow Setion */

.workflow-section {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
}

.work-left {
  width: 40%;
  padding-left: 30px;
  background-color: #000;
}

#workflow-description * {
  margin-bottom: 30px;
}

#workflow-description {
  flex-direction: column;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#workflow-info,
#workflow-info-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 100px;
}

#workflow-description h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
}

h4.subtitle {
  font-weight: 600;
}

#workflow-description #workflow-button {
  background-color: #fff;
  color: #000;
}

/* Workflow Right Side */

.work-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.work-img {
  width: 70%;
}

.section {
  height: 100vh;
}

button {
  cursor: pointer;
}

.collab-section {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(199, 199, 199);
}

.collab-section svg {
  width: 60px;
  height: 60px;
  fill: rgb(105, 105, 105);
  cursor: pointer;
}

/* Media Queries */

/* For devices with a max width of 1200px (Tablets and smaller screens) */
@media (max-width: 1124px) {
  .section {
    height: fit-content;
  }
  .work-section {
    flex-direction: column;
    height: auto;
  }

  .work-info {
    padding-left: 20px;
    max-width: 100%;
    display: none;
  }

  .work-img {
    width: 100%;
  }

  .examples-container {
    flex-direction: row; /* Keep images in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0; /* Add some padding for aesthetics */
  }

  .example-img-container {
    margin: 0 10px; /* Space between images */
    flex: 0 0 auto; /* Prevent flex items from shrinking */
  }

  .main-section {
    padding-top: 20px;
  }

  .platform-section {
    flex-direction: column;
  }
  /* 
  .work-left,
  .work-right {
    width: 100%;
    height: auto;
  } */

  .work-left {
    width: 60%;
  }
  .work-right {
    /* width: 40%; */
    min-height: 180%;
    /* border: 6px solid black; */
    display: flex;
    justify-content: center;
  }

  .creating-content {
    padding: 0;
  }
  .content-container {
    max-width: 90%;
    margin-bottom: 30px;
  }
  .body-container {
    margin-top: 20px;
    justify-content: center;
  }
  .body-container p.body {
    /* font-size: 22px; */
  }
  .section-container {
    padding: 20px;
    flex-direction: column;
  }

  .collab-section {
    align-items: center;
  }

  .collab-section svg {
    width: 40px;
    height: 40px;
  }
}

/* For devices with a max width of 768px (Mobile devices) */
@media (max-width: 768px) {
  header {
    height: auto;
  }
  .section {
    height: fit-content;
  }
  .work-section {
    position: relative;
    /* padding: 13vh; */
    transform: translateY(13vh);
    margin-bottom: 60px;
  }
  .choices {
    flex-direction: column;
    align-items: center;
  }

  .example-img {
    height: 200px;
  }
  
  .examples-description {
    /* border: 2px solid red; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .section-title {
    font-size: 24px;
    /* margin-bottom: 20px; */
  }

  p.body {
    font-size: 16px;
    width: 90%;
  }

  button.start-creating,
  button.get-started {
    width: 80%;
    padding: 12px;
  }

  .workflow-section {
    height: fit-content;
    width: 100%;
    flex-direction: column;
  }

  .work-left, .work-right {
    width: 100%;
  }

  .workflow-section .description {
    margin-bottom: 0;
  }

  img.work-img {
    margin: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
  }

  .description {
    margin: 0;
    padding-bottom: 0;
  }

  
  .platform {
    margin: 0;
  }
  
  .creating-content {
    margin-top: 100px;
    padding: 0;
  }
  .content-container {
    max-width: 90%;
  }

  .section-container {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .section-title {
    /* min-width: 40%; */
  }

  .collab-section {
    margin-top: 20px;
    flex-direction: row;
  }
}

/* For devices with a max width of 480px (Small mobile devices) */
@media (max-width: 480px) {
  .description-title {
    font-size: 20px;
  }

  .body {
    font-size: 14px;
  }

  .work-info h1 {
    font-size: 24px;
  }

  .examples-container {
    display: flex;
  }

  .img-container {
    margin: 0;
  }

  .example-img {
    width: auto; 
    height: 220px;
}

    .workflow-section {
      padding: 0;
    }
  
    #workflow-info {
      margin-bottom: 0;
    }
  .collab-section svg {
    width: 30px;
    height: 30px;
  }
}

